$link-color: red;
$link-hover: blue;
$active-nav: green;

.header {
    padding: 1rem 0 3rem;
}

.title {
    color: black;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: $link-color;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: $link-hover;

}

.active-nav-item {
    color: $active-nav;
}