@use '../utilities/colors';

.header {
    padding: 1rem 0 3rem;
}

.title {
    color: black;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: colors.$link-color;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: colors.$link-hover;

}

.active-nav-item {
    color: colors.$active-nav;
}